{% extends 'oficina2/base.html' %}

{% block content %}
<div class="col-sm-12 col-md-4 mx-md-auto bg-white">
	<div class="bg-white p-2 my-2">
		<h1 class='text-center text-info'>Cadastrar orçamento</h1>
	</div>
<form method='post' action="{% url 'cadastro' %}">
    {% csrf_token %}
    <div class="form-group">
        <label class="text-muted">Cliente:<span class='text-danger'>*</span></label>
        <input class="form-control" type="text" size='40' name='cliente' placeholder='nome do cliente' required>
    </div>
    <div class="form-group">
        <label class="text-muted">Data e hora:<span class='text-danger'>*</span></label>
        <input class="form-control" type="datetime-local" name='datahora' size='40' required>
    </div>
    <div class="form-group">
        <label class="text-muted">Vendedor:<span class='text-danger'>*</span></label>
        <input class="form-control" type='text' name='vendedor' size='40' required>
    </div>
    <div class="form-group">
        <label class="text-muted">Descrição:<span class='text-danger'>*</span></label>
        <textarea class="form-control" rows='10' cols="40" name='descricao' placeholder='descrição do orçamento' required></textarea>
    </div>
    <div class="form-group">
        <label class="text-muted">Valor orçado:<span class='text-danger'>*</span></label>
        <input class="form-control" type="number" size='40' name='valor' required>   
    </div>
	<div class="pb-3">
    <button class='d-block mx-auto bg-info text-white btn' style='border:none;' type='submit'>Cadastrar</button>
	</div>
</form>
</div>
{% endblock content %}
