<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Oficina</title>
</head>
<body>
<div class="col-sm-12 col-md-4 mx-md-auto text-center">
    <h1 class='text-center text-primary'>Bem vindo a Oficina 2.0</h1>
<a  class='btn btn-info d-block my-5 d-block my-5 ' style='width:100%;' href="{% url 'cadastro' %}">CADASTRO DE ORÇAMENTO</a>
    <a class='btn btn-info d-block my-5' style='width:100%;' href="{% url 'orcamentos' %}">PESQUISAR ORÇAMENTO</a>
</div>
</body>
</html>