{% extends 'oficina2/base.html' %}

{% block content %}
<div class="col-sm-12 col-md-4 mx-md-auto text-center">
	<div class="bg-white p-2 my-2">
    <h1 class='text-center text-black-50'>Bem vindo a Oficina 2.0</h1>
	</div>
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-{{ message.tags }}">
			{{ message }}
			</div>
		{% endfor %}
	{% endif %}
	<a  class='btn btn-info d-block my-5 d-block my-5 ' style='width:100%;' href="{% url 'cadastro' %}">CADASTRO DE ORÇAMENTO</a>
    <a class='btn btn-info d-block my-5' style='width:100%;' href="{% url 'orcamentos' %}">PESQUISAR ORÇAMENTO</a>
</div>
{% endblock content %}